<form method="post" action="registration">
    Username:<input type="text" name="login" value="{{login}}"><br>
    Password:<input type="text" name="password" value="{{password}}"><br>
    Role:<select name="dep_id" value="{{dep_id}}">
        <option value=1>Delivery</option>
        <option value=2>Sales</option>
        <option value=3>HR</option>
        <option value=4>Finance</option>
        <option value=5>Talent Manager</option>
        <option value=6>Sales Manager</option>
      </select><br>
    <input type="submit">
</form>